<h1>Listing board_members</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @board_members.each do |board_member| %>
      <tr>
        <td><%= board_member.name %></td>
        <td><%= board_member.title %></td>
        <td><%= link_to 'Show', board_member %></td>
        <td><%= link_to 'Edit', edit_board_member_path(board_member) %></td>
        <td><%= link_to 'Destroy', board_member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board member', new_board_member_path %>
