<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @board_member.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @board_member.title %>
</p>

<%= link_to 'Edit', edit_board_member_path(@board_member) %> |
<%= link_to 'Back', board_members_path %>
